html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
.topnav {
    overflow: hidden;
}
body {
    margin: 0;
    background-color: black;
}
.content {
    padding: 50px;
    display: flex;
  justify-content: center;
}
.card-grid {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300, 1fr));
}
.card {
    background-color: 1F1F1F;
    color: white;
}
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.onButton{
    background-color: #1b8a94;
}

.offButton{
    background-color: #5f6c6d;
}

.connectButton{
    background-color: #ffA500;
}

.disconnectButton{
    background-color: #525252;
}

.gray-label { 
    color: #bebebe; 
    font-size: 1rem; 
}

.reading { 
    font-size: 1.8rem;
}

.footer {
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:120px;   /* Hauteur du pied de page */
    left: 0;
    right: 0;
    background-color: #1F1F1F;;
}

.button-container {
    position: relative;
    margin : auto;
    align-items: center;
  }
  
  #statusButton {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #ffA500;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  #statusButton:hover {
    background-color: #ff8c00; /* Couleur orange foncée au survol */
  }