html {
    display: inline-block;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 5px 0;
}
h1 {
    font-size: 36px;
    color: white;
    font-weight: 400;
}
.topnav {
    overflow: hidden;
    text-align: center;
}
body {
    margin: 0;
    background-color: black;
    height: 100%;
}
.content {
    padding: 50px;
    height: 100%;
    text-align: center;
}
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.connectButton{
    background-color: #ffA500;
}

.disconnectButton{
    background-color: #525252;
}

.gray-label { 
    color: #bebebe; 
    font-size: 1rem; 
}

.footer {
    position:absolute;
    text-align: center;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:120px;   /* Hauteur du pied de page */
    left: 0;
    right: 0;
    background-color: #1F1F1F;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.25;
    }
}
.blink-animation {
    animation: blink 2.5s infinite;
}

.button-container {
    position: relative;
    margin : auto;
    align-items: center;
  }
  
.statusButton {
    height: calc(100% - 120px); /* Taille égale à la hauteur de l'écran moins la hauteur du pied de page */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #525252;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  .statusButton-connected {
    border-color: #ffA500; /* Couleur de la bordure pour la connexion réussie */
}