html {
    display: inline-block;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 5px 0;
    overflow: hidden;
}
h1 {
    font-size: 25px;
    color: white;
    font-weight: 400;
}
.topnav {
    overflow: hidden;
    text-align: center;
}
body {
    margin: 0;
    background-color: black;
    height: 100%;
}

.content {
    padding: 100px;
    height: 100%;
    text-align: center;
}
.content2 {
  padding : 10px 30px 30px 30px;
  height: 100%;
  text-align: center;
}
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.connectButton{
    background-color: #ffA500;
    width: 120px;
}

.disconnectButton{
    background-color: #525252;
    width: 120px;
}

.footer {
    position:absolute;
    text-align: center;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:120px;   /* Hauteur du pied de page */
    left: 0;
    right: 0;
    background-color: #1F1F1F;
    z-index: 1;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.25;
    }
}
.blink-animation {
    animation: blink 2.5s infinite;
}

.button-container {
    position: relative;
    margin : auto;
    align-items: center;
  }
  
.statusButton {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #525252;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  .statusButton-connected {
    border-color: #ffA500; /* Couleur de la bordure pour la connexion réussie */
}

.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}



.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
    left: 80px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 16px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 16px;
  }
  
  input:checked + .slider {
    background-color: #ffA500;
  }
  
  input:checked + .slider:before {
    transform: translateX(19px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  #setting {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Hauteur de l'élément qui glisse depuis le bas */
    background-color: black;
    transition: transform 0.75s ease-in-out;
    transform: translateY(100%);
}

#settings-btn {
    position: fixed;
}

#settings-btn:hover {
  cursor: pointer;
}

#settings-return {
  position: fixed;
}

#settings-return:hover {
cursor: pointer;
}

.icone {
   width: 25px;
   position: fixed;
   top: 16px;
   right:
   15px ;
  }

.card{
  border-radius: 15px;
  background-color: #1F1F1F;
  padding: 10px 10px 10px 10px;
  margin: 10px 40px 0 40px;
}